????????-????-????-????-????????*
*.eps
*.png

__pycache__/
*.egg
*.egg-info/
*.py[cod]
*.so

.DS_Store
*.swp

docs/_build
docs/library/generated

gmt.history

input/AlvizuriTape2018
input/SilwalTape2016

